.container-fluid	{
	padding-left: 0;
	padding-right: 0;
}
header	{
	background: orange;
	height: 100px;
	text-align: center;	
}
header h1	{
	margin: 0;
	padding-top: 30px;
}
.taskfield {
	background: green;
}
.taskfield h2 {
	font-size: 14px;
}
ul {
	list-style: none;
}
